@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localOptions

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = localOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>


    <form asp-action="CultureManagement" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
        <select style="margin-top:10px;margin-right:10px; "
                name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList"
                onchange="this.form.submit();"></select>

        @if (culture.RequestCulture.UICulture.Name == "ru")
        {<img style="width:30px;height:30px; margin-top:-2px;" src="https://cdn-icons-png.flaticon.com/512/317/317289.png" />}
        else
            if (culture.RequestCulture.UICulture.Name == "en")
        {<img style="width: 30px; height: 30px; margin-top: -2px;" src="https://cdn-icons-png.flaticon.com/512/330/330459.png" />}
        </form>
</div>