@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 
@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">@localizer["Welcome"]</h1>


        <div class="chat">
            <a href="https://mega.nz/folder/yMVXEa7R#RyzztTn2d0xKExJM0SCXEA" target="_blank">@localizer["Chat"]</a>
        </div>
    </div>
</body>
</html>


